.reveal section img {
  border: 0;
}

.reveal code {
  font-size: 2.5em;
  font-style: italic;
  padding-bottom: 0.8em;
}

.reveal .slide-background video {
  width: 90% !important;
  text-align: center;
}